<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<php_conf> <!-- Configuration log php -->
	  <path_log_php><!-- Dossier log php --></path_log_php> 
	  <path_log_cache_php><!-- Dossier cache log php --></path_log_cache_php>  
	  <file_log_cache_php><!-- fichier cache log php --></file_log_cache_php> 
	  <mail_from><!-- email expediteur --></mail_from> 
	  <mail_to>
		  <mail><!-- email destinaire --></mail>	 
	  </mail_to>
	  <serveur><!-- Serveur Smtp --></serveur> 
	  <text_object_php>NOUVELLES ERREURS PHP SUR {0}</text_object_php> <!-- object du mail, {0} correspond à la position du nom du serveur  -->
	  <text_content_php>De nouvelles erreurs PHP ont été constaté sur {0},consultez la pièce jointe pour plus d'information.</text_content_php> <!-- contenu du mail, {0} correspond à la position du nom du serveur  -->
	</php_conf>
	<symfony_conf><!-- Configuration log Symfony -->
		<path_log_symf><!-- Dossier log symfony --></path_log_symf> 
		<path_log_cache_symf><!-- Dossier cache log symfony --></path_log_cache_symf> 
		<file_log_cache_symf><!-- fichier cache log symfony --></file_log_cache_symf> 
		<mail_from><!-- email expediteur --></mail_from> 
		  <mail><!-- email destinaire --></mail>	 
		</mail_to>
		<filtre>
			<pattern>\{sfError404Exception\}</pattern> <!-- filtre pour ignorer certaines erreur -->
		</filtre>		
		<serveur><!-- Serveur Smtp --></serveur> 
		<text_object_symf>NOUVELLES ERREURS SYMFONY {0}</text_object_symf> <!-- object du mail, {0} correspond à la position du nom du serveur  -->
		<text_content_symf>De nouvelles erreurs Symfony ont été constaté sur {0},consultez la pièce jointe pour plus d'information.</text_content_symf> <!-- contenu du mail, {0} correspond à la position du nom du serveur  -->
	</symfony_conf>
</configuration>
